typedef void (*testFunc)();

static bool isNumber (const std::string &mystring) {
	//
	// Description:
	//	It returns true value only if the argument defined std::string contains numbers
	//
	bool out = true;
	for (uint8_t t=0; t < mystring.size(); t++) {
		if (mystring[t] < '0' || mystring[t] > '9') {
			out = false;
			break;
		}
	}
	return(out);
}

static bool isNumber (const char *mystring) {
	//
	// Description:
	//	It a wrapper to isNumber(std::string)
	//
	return (isNumber(std::string(mystring)));
}

static bool isRange (const std::string &mystring, int &tnmin, int &tnmax) {
	//
	// Description:
	//	It returns true value only if the argument defined std::string contains a numeric range ([<n0>,<n1>])
	//
	bool out = true;
	if (
		mystring[0] != '[' || mystring[mystring.size()-1] != ']' ||
		mystring.find(',') == std::string::npos
	) 
		// WARNING! It is not a valid range
		out = false;

	else {
		std::string tmp      = mystring.substr(1, mystring.size()-2);
		size_t      splitter = tmp.find(',');
		std::string ra       = tmp.substr(0, splitter);
		std::string rb       = tmp.substr(splitter+1, (tmp.size()-1));
		
		if (isNumber(ra) && isNumber(rb)) {
			tnmin = atoi(ra.c_str());
			tnmax = atoi(rb.c_str());
			if (tnmax < tnmin)
				// WARNING! It is not a valid range
				out = false;
		} else {
			// WARNING! It is not a valid range
			out = false;
		}
	}
	return(out);
}

static bool isAll (std::string mystring) {
	std::transform(mystring.begin(), mystring.end(), mystring.begin(), ::toupper);
	return((mystring == "ALL"));
}

//------------------------------------------------------------------------------------------------------------------------------
//                                                          M A I N
//------------------------------------------------------------------------------------------------------------------------------

int main (int argc, char *argv[]) {
	int                      option_index = 0;
	int                      ec           = 0;
	unsigned int             numOfTets    = ##TESTSNUM##;
	std::vector<std::string> tNamesList   = {##TESTSLIST##};
	std::vector<testFunc>    tFuncsList   = {##FUNCSLIST##}; 
	int                      testNumOpt   = -1;
	bool                     helpFlag     = false;
	bool                     verboseFlag  = false;
	int                      tnmin = -1, tnmax = -1;

	struct option optionsPool[] = {
		{"test",    required_argument, NULL, 0},
		{"verbose", no_argument,       NULL, 0},
		{"help",    no_argument,       NULL, 0},
		{0, 0, 0, 0}
	};

	while (ec == 0) {
		ec = getopt_long (argc, argv, "", optionsPool, &option_index);

		if (ec == 0) {
			
			//
			// File's arguments collecting
			//
			switch (option_index) {
				case 0: 
					if (isNumber(optarg)) {
						testNumOpt = atoi(optarg);

					} else if (isRange(optarg, tnmin, tnmax)) {
						testNumOpt = -2;

					} else if (isAll(optarg)) {
						testNumOpt = (numOfTets + 1);
					}
				break;

				case 1:
					verboseFlag = true;
				break;

				case 2:
					helpFlag = true;
				break;
			}
		}
	}
	
	if (helpFlag || testNumOpt == -1) {
		std::cout << "use " << argv[0] << " --test={all|<n>|[<n>-<n>]} [--verbose]" << std::endl;
		for (uint8_t t = 0; t < numOfTets; t++)
			std::cout << t << " - " << tNamesList[t] << std::endl;
	
	} else {
		if (verboseFlag) {
			fileArgumentsDb_set("verbose", "");
		}

		for (uint8_t x=0; x<numOfTets; x++) {
			if (
				testNumOpt > (int)numOfTets  || // all option
				testNumOpt == x              || // just one test option
				(x >= tnmin && x <= tnmax)      // range option
			) {
				std::cout << "\n----------" <<  tNamesList[x] << "----------" << std::endl;
				tFuncsList[x]();
			}
		}
	}

	return(ec);
}
